#canvas_container[data-v-6c1ee046] {
    height: 100vh;
    min-height: 600px;
    width: 100vw
}

.container[data-v-6c1ee046],body[data-v-6c1ee046] {
    overflow: hidden
}

[data-v-6c1ee046]::-moz-selection {
    background-color: transparent;
    color: currentcolor
}

[data-v-6c1ee046]::selection {
    background-color: transparent;
    color: currentcolor
}

.container[data-v-8eb145da],body[data-v-8eb145da] {
    overflow: hidden
}

.purple {
    color: #5918df
}

.color-gray {
    color: #988e9f!important
}

.cp {
    cursor: pointer
}

.mono {
    font-family: Roboto Mono,Courier New,Courier,monospace!important
}

.pull-right {
    float: right
}

.serif {
    font-family: Palatino,Georgia,Times New Roman,Times,serif
}

.fat {
    font-weight: 700
}

.normal {
    font-weight: 400
}

.pr {
    position: relative!important
}

@keyframes glitch {
    0% {
        transform: translate(0)
    }

    20% {
        transform: translate(-2px,2px)
    }

    40% {
        transform: translate(-2px,-2px)
    }

    60% {
        transform: translate(2px,2px)
    }

    80% {
        transform: translate(2px,-2px)
    }

    to {
        transform: translate(0)
    }
}

input {
    color: #fff!important
}

.input {
    display: inline-block;
    margin: -11px 2px 0;
    max-width: 100px;
    position: relative;
    vertical-align: top;
    z-index: 1
}

.input__field {
    -webkit-appearance: none;
    background: #f0f0f0;
    border: none;
    border-radius: 0;
    display: block;
    float: right;
    padding: .8em;
    position: relative;
    width: 60%
}

.input__field:focus {
    outline: none
}

.input__label {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    display: inline-block;
    font-size: 70.25%;
    padding: 0 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 40%
}

.input__label-content {
    display: block;
    padding: 1.6em 0;
    position: relative;
    width: 100%
}

.input__field--ruri {
    background: transparent;
    padding: .5em 0;
    width: 100%
}

.input__label--ruri {
    color: #574f5c;
    font-size: 1em;
    padding: 0 0 8px;
    pointer-events: none;
    position: absolute;
    text-align: left;
    width: 100%
}

.input__label--ruri:after {
    background: #fff;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 105%;
    transform-origin: 50% 100%;
    transition: transform .3s,background-color .3s;
    width: 100%
}

.input__label-content--ruri {
    padding: 0;
    transform: translate3d(0,.47em,0) scaleX(1);
    transform-origin: 0 0;
    transition: transform .3s,color .3s
}

.input__field--ruri:focus+.input__label--ruri:after {
    background: #5918df
}

.input__field--ruri:focus+.input__label--ruri .input__label-content--ruri,.input__field.focus+.input__label--ruri .input__label-content--ruri {
    color: #53405e;
    transform: translate3d(0,-.55em,0) scale3d(.755,.755,1)
}

.input__field--ruri.invalid+.input__label--ruri:after {
    background: #b61919
}

label {
    cursor: pointer;
    font-size: 1.4rem
}

label.error {
    color: #5918df;
    display: block;
    font-size: .8rem;
    margin-bottom: 0
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.animated.infinite {
    animation-iteration-count: infinite
}

@keyframes shake {
    0%,to {
        transform: translateZ(0)
    }

    10%,30%,50%,70%,90% {
        transform: translate3d(-10px,0,0)
    }

    20%,40%,60%,80% {
        transform: translate3d(10px,0,0)
    }
}

.error {
    animation-name: shake;
    color: #b61919
}

.error .input__field--ruri+.input__label--ruri:after {
    background: #b61919
}

.block-reveal {
    align-items: center;
    display: flex;
    display: inline-block;
    overflow: hidden;
    position: relative;
    /* transition: linear ; */
    transition-timing-function: linear;
    
    
}

.block-reveal__text {
    margin: .3em 0;
    opacity: 0
}

.block-reveal__block {
    background: #5918df;
    content: "";
    height: 100%;
    position: absolute;
    transform: translateX(calc(100% + 1px));
    width: 100%;
    will-change: transform;
    z-index: 1
}

.block-reveal__block.white {
    background-color: #f9f9f9
}

.block-reveal.projects {
    background-clip: border-box;
    margin: -11px;
    padding: 11px
}

.block-reveal--active .block-reveal__text {
    animation: block-reveal-text 0s;
    animation-delay: .4s;
    animation-fill-mode: forwards;
    will-change: transform,opacity
}

.block-reveal--active .block-reveal__block {
    animation: block-rev-block .8s;
    animation-timing-function: cubic-bezier(.65,.05,.36,1)
}

.block-reveal--deactive .block-reveal__text {
    animation: block-reveal-text-back 0s;
    animation-delay: .3s;
    animation-fill-mode: forwards;
    opacity: 1;
    will-change: transform,opacity
}

.block-reveal--deactive .block-reveal__block {
    animation: block-rev-block-back .8s;
    animation-timing-function: cubic-bezier(.65,.05,.36,1)
}

.block-reveal--active.projects .block-reveal__block,.block-reveal--active.projects .block-reveal__text {
    animation: none;
    opacity: 1;
    transform: translateX(calc(100% + 1px))
}

@keyframes block-rev-block {
    0% {
        transform: translateX(-100%)
    }

    to {
        transform: translateX(calc(100% + 1px))
    }
}

@keyframes block-rev-block-back {
    0% {
        transform: translateX(calc(100% + 1px))
    }

    to {
        transform: translateX(-100%)
    }
}

@keyframes block-reveal-text {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes block-reveal-text-back {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.ws-nowarp {
    white-space: nowrap!important
}

.headspace {
    height: 4rem;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform .3s
}

.headspace--hidden {
    transform: translate3d(0,-4rem,0)
}

.headspace--fixed {
    position: fixed
}

.headspace--hidden:after {
    content: "";
    height: 4rem;
    left: 0;
    position: fixed;
    right: 0;
    top: 4rem
}

.headspace--hidden:hover {
    transform: translateZ(0)
}

@keyframes fadeinLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes fadeinRight {
    0% {
        opacity: 0;
        transform: translateX(100px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

.btn.focus,.btn:focus {
    box-shadow: none!important;
    outline: 0
}

img.lazy {
    width: 100%;
    will-change: transform,opacity
}

img.lazy[lazy=loading] {
    opacity: 0;
    transform: translateX(-100px)
}

img.lazy[lazy=error],img.lazy[lazy=loading] {
    transition: all .3s cubic-bezier(.165,.84,.44,1)
}

img.lazy[lazy=loaded] {
    animation-direction: normal;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: fadeinLeft;
    animation-timing-function: cubic-bezier(.165,.84,.44,1)
}

* {
    backface-visibility: hidden
}

@media screen and (min-width: 768px) {
    * {
        cursor:none
    }
}

@media screen and (min-width: 768px) {
    .cursor {
        display:pointer;
    }
}

body {
    background-color: #1a1527;
    color: #f9f9f9;
    font-display: auto;
    font-family: Roboto Condensed,Lato,Arial,sans-serif!important;
    font-size: 24px;
    font-weight: 400;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 0;
    position: relative
}

a {
    color: #5918df
}

a:link,a:visited {
    transition: all .3s cubic-bezier(.165,.84,.44,1)
}

a:active,a:focus,a:hover {
    color: #5918df;
    -webkit-text-decoration: none;
    text-decoration: none
}

.navbar-offset-top {
    padding-bottom: 70px;
    padding-top: 70px
}

.min100vh {
    min-height: 560px;
}

.loading-text {
    color: #fff;
    font-family: Roboto Mono,Courier New,Courier,monospace!important;
    font-size: 14px;
    font-weight: 700;
    left: 50%;
    margin-top: 70px;
    position: relative
}

.section-title {
    color: #988e9f;
    font-size: 18px;
    font-weight: 300
}

.section-title.alt {
    display: inline-block;
    margin-top: 30px
}

.btn,.btn2 {
    background: linear-gradient(-45deg,#ffa63d,#ff3d77,#1593e3,#5918df);
    background-size: 1100%;
    border: none;
    border-radius: 50px;
    color: hsla(0,0%,100%,.9);
    font-family: Roboto Mono,Courier New,Courier,monospace!important;
    font-size: 20px;
    line-height: 1;
    padding: 17px 35px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transform: scaleX(1);
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275),background-position 3s cubic-bezier(.455,.03,.515,.955)
}

.btn {
    margin: 30px 0;
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275),bottom .3s cubic-bezier(.175,.885,.32,1.275),background-position 3s cubic-bezier(.455,.03,.515,.955)
}

.btn,.btn .btn2 {
    background-position: 0 50%;
    bottom: 0
}

.btn .btn2 {
    filter: blur(16px);
    left: 0;
    opacity: .8;
    position: absolute;
    transform: scale3d(.9,.9,1);
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275),filter .3s cubic-bezier(.175,.885,.32,1.275),bottom .3s cubic-bezier(.175,.885,.32,1.275),background-position 3s cubic-bezier(.455,.03,.515,.955);
    width: 100%;
    z-index: -1
}

.btn:focus,.btn:hover {
    background-position: 100% 50%;
    bottom: 2px;
    transform: scale3d(1.1,1.1,1)
}

.btn:focus .btn2,.btn:hover .btn2 {
    background-position: 100% 50%;
    bottom: -5px;
    filter: blur(25px)
}

::selection {
    background-color: #5918df;
    color: #fff
}

::-moz-selection {
    background-color: #5918df;
    color: #fff
}

.down-arrow {
    background-image: linear-gradient(-180deg,#0d0c0e,#1a1527);
    bottom: 0;
    color: #988e9f;
    display: flex;
    height: 80px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    right: 0;
    width: 60px;
    z-index: 8
}

.down-arrow span {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-40%,-50%) rotate(90deg)
}

.timeline {
    background-color: #5918df;
    height: 300%;
    left: -10px;
    position: absolute;
    top: 13px;
    width: 1px;
    z-index: 9
}

.timeline.alt {
    height: 5310%;
    top: 0
}

.bullet,.bullet:before {
    position: absolute
}

.bullet:before {
    background-color: #1b191e;
    border: 2px solid #5918df;
    border-radius: 50%;
    content: "";
    height: 9px;
    left: -4px;
    top: 0;
    width: 9px;
    z-index: 10
}

.bullet-title {
    position: relative
}

.bullet-title:before {
    background-color: #1b191e;
    border: 2px solid #5918df;
    border-radius: 50%;
    content: "";
    height: 9px;
    left: -29px;
    position: absolute;
    top: 9px;
    width: 9px;
    z-index: 10
}

.scroll-bottom {
    margin-left: -7px;
    position: relative;
    top: 300px
}

.scroll-bottom span {
    bottom: 0;
    color: #5918df;
    font-size: 14px;
    position: absolute;
    text-shadow: 0 3px 14px #181619,0 -3px 14px #181619,3px 0 14px #181619,-3px 0 14px #181619,0 3px 6px #181619,0 -3px 6px #181619,3px 0 6px #181619,-3px 0 6px #181619;
    transform: translate(-15px,35px) rotate(-90deg);
    z-index: 9
}

.scroll-bottom i {
    text-shadow: 0 3px 14px #181619,0 -3px 14px #181619,3px 0 14px #181619,-3px 0 14px #181619,0 3px 6px #181619,0 -3px 6px #181619,3px 0 6px #181619,-3px 0 6px #181619,0 0 20px #181619
}

.scale-hover {
    position: absolute;
    transform: scaleX(1);
    transition: all .3s cubic-bezier(.165,.84,.44,1)
}

.scale-hover:hover {
    transform: scale3d(1.1,1.1,1)
}

h4 {
    color: #988e9f;
    font-family: Roboto Condensed,Lato,Arial,sans-serif!important;
    font-size: 30px;
    font-weight: 700
}

#web {
    position: relative
}

#web.mb-3:before {
    color: #221d35;
    content: "WEB";
    font-family: Roboto Mono,Courier New,Courier,monospace!important;
    font-size: 270px;
    font-weight: 700;
    position: absolute;
    right: -30px;
    top: -150px
}

#mobile {
    min-height: 400px;
    padding-top: 100px;
    position: relative
}

#mobile:before {
    color: #221d35;
    content: "MOBILE";
    font-family: Roboto Mono,Courier New,Courier,monospace!important;
    font-size: 170px;
    font-weight: 700;
    left: 5%;
    position: absolute;
    top: -50px
}

#showreel {
    position: relative
}

#showreel:before {
    color: #221d35;
    content: "SHOWREEL";
    font-family: Roboto Mono,Courier New,Courier,monospace!important;
    font-size: 140px;
    font-weight: 700;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%)
}

@media screen and (max-width: 768px) {
    h4 {
        font-size:20px
    }

    #web {
        margin-top: 50px
    }

    #web:before {
        font-size: 100px;
        right: -30px;
        top: -90px
    }

    #mobile {
        padding-top: 0!important
    }

    #mobile:before {
        font-size: 90px;
        right: -30px;
        top: -90px
    }

    #showreel {
        margin-bottom: 0!important;
        margin-top: 0!important;
        min-height: 200px!important;

    }

    #showreel .video-player-box {
        margin-top: 80px!important;
        
    }

    #showreel:before {
        font-size: 70px;
        top: -2px
    }
}

#gui {
    font-size: 18px;
    position: absolute;
    right: 10%;
    text-align: right;
    top: 10%;
    z-index: 999
}

#gui,h3 {
    font-family: Roboto Mono,Courier,monospace!important
}

h3 {
    color: #988e9f;
    display: inline-block;
    font-size: 34px;
    font-weight: 400;
    margin: 0 20px;
    position: relative
}

h3:before {
    content: "<";
    left: -22px;
    position: absolute
}

h3:after {
    content: "/>";
    right: -40px
}

.wrp,h3:after {
    position: absolute
}

.wrp {
    left: 10%;
    text-align: left;
    top: 10%;
    z-index: 99
}

.wrp .white {
    color: #fff
}

.wrp p {
    font-size: 30px;
    margin: 0;
    position: relative
}

.wrp p:first-letter {
    display: flex;
    font-size: 60px;
    left: -100px;
    position: absolute;
    top: 100px
}

.hidden {
    display: none
}



@font-face {
    font-display: fallback;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Condensed Light"),local("RobotoCondensed-Light"),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCkYb8td.woff2) format("woff2");
    unicode-range: u+0460-052f,u+1c80-1c88,u+20b4,u+2de0-2dff,u+a640-a69f,u+fe2e-fe2f
}

@font-face {
    font-display: fallback;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Condensed Light"),local("RobotoCondensed-Light"),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCAYb8td.woff2) format("woff2");
    unicode-range: u+0400-045f,u+0490-0491,u+04b0-04b1,u+2116
}

@font-face {
    font-display: fallback;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Condensed Light"),local("RobotoCondensed-Light"),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCgYb8td.woff2) format("woff2");
    unicode-range: u+1f??
}

@font-face {
    font-display: fallback;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Condensed Light"),local("RobotoCondensed-Light"),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCcYb8td.woff2) format("woff2");
    unicode-range: u+0370-03ff
}

@font-face {
    font-display: fallback;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Condensed Light"),local("RobotoCondensed-Light"),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCsYb8td.woff2) format("woff2");
    unicode-range: u+0102-0103,u+0110-0111,u+1ea0-1ef9,u+20ab
}

@font-face {
    font-display: fallback;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Condensed Light"),local("RobotoCondensed-Light"),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCoYb8td.woff2) format("woff2");
    unicode-range: u+0100-024f,u+0259,u+1e??,u+2020,u+20a0-20ab,u+20ad-20cf,u+2113,u+2c60-2c7f,u+a720-a7ff
}

@font-face {
    font-display: fallback;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Condensed Light"),local("RobotoCondensed-Light"),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCQYbw.woff2) format("woff2");
    unicode-range: u+00??,u+0131,u+0152-0153,u+02bb-02bc,u+02c6,u+02da,u+02dc,u+2000-206f,u+2074,u+20ac,u+2122,u+2191,u+2193,u+2212,u+2215,u+feff,u+fffd
}

@font-face {
    font-display: fallback;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Condensed"),local("RobotoCondensed-Regular"),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVl2ZhZI2eCN5jzbjEETS9weq8-19-7DRs5.woff2) format("woff2");
    unicode-range: u+0460-052f,u+1c80-1c88,u+20b4,u+2de0-2dff,u+a640-a69f,u+fe2e-fe2f
}

@font-face {
    font-display: fallback;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Condensed"),local("RobotoCondensed-Regular"),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVl2ZhZI2eCN5jzbjEETS9weq8-19a7DRs5.woff2) format("woff2");
    unicode-range: u+0400-045f,u+0490-0491,u+04b0-04b1,u+2116
}

@font-face {
    font-display: fallback;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Condensed"),local("RobotoCondensed-Regular"),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVl2ZhZI2eCN5jzbjEETS9weq8-1967DRs5.woff2) format("woff2");
    unicode-range: u+1f??
}

@font-face {
    font-display: fallback;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Condensed"),local("RobotoCondensed-Regular"),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVl2ZhZI2eCN5jzbjEETS9weq8-19G7DRs5.woff2) format("woff2");
    unicode-range: u+0370-03ff
}

@font-face {
    font-display: fallback;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Condensed"),local("RobotoCondensed-Regular"),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVl2ZhZI2eCN5jzbjEETS9weq8-1927DRs5.woff2) format("woff2");
    unicode-range: u+0102-0103,u+0110-0111,u+1ea0-1ef9,u+20ab
}

@font-face {
    font-display: fallback;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Condensed"),local("RobotoCondensed-Regular"),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVl2ZhZI2eCN5jzbjEETS9weq8-19y7DRs5.woff2) format("woff2");
    unicode-range: u+0100-024f,u+0259,u+1e??,u+2020,u+20a0-20ab,u+20ad-20cf,u+2113,u+2c60-2c7f,u+a720-a7ff
}

@font-face {
    font-display: fallback;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Condensed"),local("RobotoCondensed-Regular"),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQ.woff2) format("woff2");
    unicode-range: u+00??,u+0131,u+0152-0153,u+02bb-02bc,u+02c6,u+02da,u+02dc,u+2000-206f,u+2074,u+20ac,u+2122,u+2191,u+2193,u+2212,u+2215,u+feff,u+fffd
}

@font-face {
    font-display: fallback;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Condensed Bold"),local("RobotoCondensed-Bold"),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCkYb8td.woff2) format("woff2");
    unicode-range: u+0460-052f,u+1c80-1c88,u+20b4,u+2de0-2dff,u+a640-a69f,u+fe2e-fe2f
}

@font-face {
    font-display: fallback;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Condensed Bold"),local("RobotoCondensed-Bold"),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCAYb8td.woff2) format("woff2");
    unicode-range: u+0400-045f,u+0490-0491,u+04b0-04b1,u+2116
}

@font-face {
    font-display: fallback;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Condensed Bold"),local("RobotoCondensed-Bold"),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCgYb8td.woff2) format("woff2");
    unicode-range: u+1f??
}

@font-face {
    font-display: fallback;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Condensed Bold"),local("RobotoCondensed-Bold"),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCcYb8td.woff2) format("woff2");
    unicode-range: u+0370-03ff
}

@font-face {
    font-display: fallback;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Condensed Bold"),local("RobotoCondensed-Bold"),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCsYb8td.woff2) format("woff2");
    unicode-range: u+0102-0103,u+0110-0111,u+1ea0-1ef9,u+20ab
}

@font-face {
    font-display: fallback;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Condensed Bold"),local("RobotoCondensed-Bold"),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCoYb8td.woff2) format("woff2");
    unicode-range: u+0100-024f,u+0259,u+1e??,u+2020,u+20a0-20ab,u+20ad-20cf,u+2113,u+2c60-2c7f,u+a720-a7ff
}

@font-face {
    font-display: fallback;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Condensed Bold"),local("RobotoCondensed-Bold"),url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCQYbw.woff2) format("woff2");
    unicode-range: u+00??,u+0131,u+0152-0153,u+02bb-02bc,u+02c6,u+02da,u+02dc,u+2000-206f,u+2074,u+20ac,u+2122,u+2191,u+2193,u+2212,u+2215,u+feff,u+fffd
}

@font-face {
    font-display: fallback;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Mono"),local("RobotoMono-Regular"),url(https://fonts.gstatic.com/s/robotomono/v5/L0x5DF4xlVMF-BfR8bXMIjhGq3-OXg.woff2) format("woff2");
    unicode-range: u+0460-052f,u+1c80-1c88,u+20b4,u+2de0-2dff,u+a640-a69f,u+fe2e-fe2f
}

@font-face {
    font-display: fallback;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Mono"),local("RobotoMono-Regular"),url(https://fonts.gstatic.com/s/robotomono/v5/L0x5DF4xlVMF-BfR8bXMIjhPq3-OXg.woff2) format("woff2");
    unicode-range: u+0400-045f,u+0490-0491,u+04b0-04b1,u+2116
}

@font-face {
    font-display: fallback;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Mono"),local("RobotoMono-Regular"),url(https://fonts.gstatic.com/s/robotomono/v5/L0x5DF4xlVMF-BfR8bXMIjhHq3-OXg.woff2) format("woff2");
    unicode-range: u+1f??
}

@font-face {
    font-display: fallback;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Mono"),local("RobotoMono-Regular"),url(https://fonts.gstatic.com/s/robotomono/v5/L0x5DF4xlVMF-BfR8bXMIjhIq3-OXg.woff2) format("woff2");
    unicode-range: u+0370-03ff
}

@font-face {
    font-display: fallback;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Mono"),local("RobotoMono-Regular"),url(https://fonts.gstatic.com/s/robotomono/v5/L0x5DF4xlVMF-BfR8bXMIjhEq3-OXg.woff2) format("woff2");
    unicode-range: u+0102-0103,u+0110-0111,u+1ea0-1ef9,u+20ab
}

@font-face {
    font-display: fallback;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Mono"),local("RobotoMono-Regular"),url(https://fonts.gstatic.com/s/robotomono/v5/L0x5DF4xlVMF-BfR8bXMIjhFq3-OXg.woff2) format("woff2");
    unicode-range: u+0100-024f,u+0259,u+1e??,u+2020,u+20a0-20ab,u+20ad-20cf,u+2113,u+2c60-2c7f,u+a720-a7ff
}

@font-face {
    font-display: fallback;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Mono"),local("RobotoMono-Regular"),url(https://fonts.gstatic.com/s/robotomono/v5/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2) format("woff2");
    unicode-range: u+00??,u+0131,u+0152-0153,u+02bb-02bc,u+02c6,u+02da,u+02dc,u+2000-206f,u+2074,u+20ac,u+2122,u+2191,u+2193,u+2212,u+2215,u+feff,u+fffd
}

@font-face {
    font-display: fallback;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Mono Bold"),local("RobotoMono-Bold"),url(https://fonts.gstatic.com/s/robotomono/v5/L0xkDF4xlVMF-BfR8bXMIjDwjmq8f7-7Ag.woff2) format("woff2");
    unicode-range: u+0460-052f,u+1c80-1c88,u+20b4,u+2de0-2dff,u+a640-a69f,u+fe2e-fe2f
}

@font-face {
    font-display: fallback;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Mono Bold"),local("RobotoMono-Bold"),url(https://fonts.gstatic.com/s/robotomono/v5/L0xkDF4xlVMF-BfR8bXMIjDwjmq1f7-7Ag.woff2) format("woff2");
    unicode-range: u+0400-045f,u+0490-0491,u+04b0-04b1,u+2116
}

@font-face {
    font-display: fallback;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Mono Bold"),local("RobotoMono-Bold"),url(https://fonts.gstatic.com/s/robotomono/v5/L0xkDF4xlVMF-BfR8bXMIjDwjmq9f7-7Ag.woff2) format("woff2");
    unicode-range: u+1f??
}

@font-face {
    font-display: fallback;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Mono Bold"),local("RobotoMono-Bold"),url(https://fonts.gstatic.com/s/robotomono/v5/L0xkDF4xlVMF-BfR8bXMIjDwjmqyf7-7Ag.woff2) format("woff2");
    unicode-range: u+0370-03ff
}

@font-face {
    font-display: fallback;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Mono Bold"),local("RobotoMono-Bold"),url(https://fonts.gstatic.com/s/robotomono/v5/L0xkDF4xlVMF-BfR8bXMIjDwjmq-f7-7Ag.woff2) format("woff2");
    unicode-range: u+0102-0103,u+0110-0111,u+1ea0-1ef9,u+20ab
}

@font-face {
    font-display: fallback;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Mono Bold"),local("RobotoMono-Bold"),url(https://fonts.gstatic.com/s/robotomono/v5/L0xkDF4xlVMF-BfR8bXMIjDwjmq_f7-7Ag.woff2) format("woff2");
    unicode-range: u+0100-024f,u+0259,u+1e??,u+2020,u+20a0-20ab,u+20ad-20cf,u+2113,u+2c60-2c7f,u+a720-a7ff
}

@font-face {
    font-display: fallback;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Mono Bold"),local("RobotoMono-Bold"),url(https://fonts.gstatic.com/s/robotomono/v5/L0xkDF4xlVMF-BfR8bXMIjDwjmqxf78.woff2) format("woff2");
    unicode-range: u+00??,u+0131,u+0152-0153,u+02bb-02bc,u+02c6,u+02da,u+02dc,u+2000-206f,u+2074,u+20ac,u+2122,u+2191,u+2193,u+2212,u+2215,u+feff,u+fffd
}

#pac-loader {
    align-items: center;
    background-color: #0e0c16;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed; 
    width: 100%;
    z-index: 9999;
    top: 0px;
}

#pac-loader>div {
    left: -30px;
    position: relative
}

#pac-loader .pacman:after,#pac-loader .pacman:before {
    animation: up .5s infinite;
    background: #5918df;
    border-radius: 15px 15px 0 0;
    content: "";
    height: 15px;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    width: 30px;
    z-index: 2
}

#pac-loader .pacman:after {
    animation: down .5s infinite;
    border-radius: 0 0 15px 15px;
    margin-top: -1px
}

#pac-loader .dots {
    animation: r-to-l .5s infinite;
    background: #fff;
    border-radius: 50%;
    box-shadow: 20px 0 0 #fff,40px 0 0 #fff,60px 0 0 #fff;
    height: 3px;
    left: 50%;
    margin-left: 20px;
    margin-top: -1.5px;
    position: absolute;
    top: 50%;
    width: 3px;
    z-index: 1
}

@keyframes up {
    0%,to {
        transform: rotate(0)
    }

    50% {
        transform: rotate(-35deg)
    }
}

@keyframes down {
    0%,to {
        transform: rotate(0)
    }

    50% {
        transform: rotate(35deg)
    }
}

@keyframes r-to-l {
    to {
        margin-left: -1px
    }
}

.cursor__inner {
    border-radius: 50%;
    mix-blend-mode: difference;
    pointer-events: none;
    position: relative;
    z-index: 9999;
   
}

.cursor__inner--dot {
    background: #fff;
    position: relative;
    top: -20px;
    left: 1px;
    height: 6px;
    width: 6px;
    pointer-events: none;
    mix-blend-mode:difference!important;

    
}

.cursor__inner--circle,.cursor__inner--dot {
    transform: translateX(-100px) translateY(-100px)
}

.cursor__inner--circle {
    border: 1px solid #fff;
    height: 20px;
    width: 20px
}
